doctype html
html
  head
    title Hello Waigo
  body
    h1 Hello Waigo
    :markdown
      Welcome to your Waigo application. The template for this page is located 
      at `views/index.jade` within your application source folder.
