# OSX
.DS_Store

# node
node_modules

# IntelliJ
.idea
*.iml

# VM
Vagrantfile
.vagrant

# bower
bower_components

# build
docs/api/*
public/_gen
public/js/*.map
webpack.config.js

# test
test/data/app
test/data/*
src/cli/__test.js
