html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
html {
  font-size: 16px;
}
body {
  font-family: 'Roboto', Arial, Verdana, sans-serif;
  background-color: #fff;
  color: #000;
}
pre {
  font-family: monospace;
  background-color: #eee;
  border: 1px solid #ccc;
}
h1 {
  font-size: 2.5rem;
  margin: 1em 0;
}
p {
  margin: 1em 0;
}
ul {
  margin: 1em 0;
  padding-left: 1em;
  list-style: disc;
}
ul li {
  margin: 0.3em 0;
}
main.container {
  padding: 0 1em 1em;
}
form {
  margin: 1em 0;
}
form .input-field {
  margin: 0.5em 0;
}
form label,
form input {
  display: block;
}
.msg {
  font-size: 120%;
  margin: 1em 0;
  width: 60%;
  border: 1px solid #000;
  border-radius: 5px;
}
.msg .panel {
  padding: 1em;
}
.msg .panel.error {
  background-color: #f00;
  color: #fff;
}
.msg .panel.info {
  background-color: #0f0;
  color: #000;
}
