@media only screen and (max-width: 992px) {
  #admin_menu {
    display: none;
  }
}
@media only screen and (max-width: 992px) {
  #admin_content {
    width: 100% !important;
  }
}
header a.admin.menu.item {
  display: none;
  cursor: pointer;
}
@media only screen and (max-width: 992px) {
  header a.admin.menu.item {
    display: inline-block;
  }
}
#admin_content .page-routes input.list-filter {
  width: 100%;
}
#admin_content .page-routes span.method {
  display: inline-block;
  width: 5%;
  margin-right: 1em;
}
#admin_content .page-routes span.url {
  display: inline-block;
}


i + span {
  margin-left: 0.5em;
}
header .title.item {
  font-size: 2em;
}
main.container {
  max-width: 100%;
  padding: 1em;
  margin-top: 50px;
}
/* admin */
@media only screen and (max-width: 992px) {
  #admin_menu {
    display: none;
  }
}
@media only screen and (max-width: 992px) {
  #admin_content {
    width: 100% !important;
  }
}
header a.admin.menu.item {
  display: none;
  cursor: pointer;
}
@media only screen and (max-width: 992px) {
  header a.admin.menu.item {
    display: inline-block;
  }
}
#admin_content .page-routes input.list-filter {
  width: 100%;
}
#admin_content .page-routes span.method {
  display: inline-block;
  width: 5%;
  margin-right: 1em;
}
#admin_content .page-routes span.url {
  display: inline-block;
}
/* login */
#login .signup {
  display: block;
  margin-top: 3em;
}
