/* ---------------------------------------
Settings and variables
--------------------------------------- */

// match materialize
$screen-md = 992px
$screen-sm = 600px

$red-lighten-4 = #ffcdd2
$red-darken-1 = #e53935

$blue-lighten-4 = #bbdefb
$blue-darken-1 = #1e88e5
  
/* ---------------------------------------
Font Awesome
--------------------------------------- */

$fa-font-path =        "../font"
@import "../../../node_modules/font-awesome-stylus/stylus/index"



