/* ---------------------------------------
Settings and variables
--------------------------------------- */

$body-font = 'Roboto', Arial, Verdana, sans-serif
$code-font = monospace;

$white = #fff
$black = #000
$red = #f00
$green = #0f0
$gray-light = #eee
$gray = #ccc
