extends _layout

block title
  title Welcome to Waigo!


block main_content
  #home
    h1 Welcome!

    p Your new Waigo app is running correctly!

    p Replace this page by creating a template: `views/index.pug`.

    if currentUser
      p.logged_in You are logged in as: #{currentUser.username}
      a(href="/user/logout") Logout
    else
      p 
        a(href="/user/login") Login
      p 
        a(href="/user/register") Register



