extends _layout

block title
  title Welcome to Waigo!


block main_content
  #home
    h1 Welcome!

    :markdown
      Your new Waigo app is running correctly!

      Replace this page by creating a template: `views/index.jade`.

    ul
      li
        a(href="/admin") Goto Admin dashboard
      li
        a(href="http://waigojs.com") Read documentation

