extends _layout

block title
  title Welcome to Waigo!

block topbar_rightmenu
  a.popup.icon.settings.item(href="/admin", title="Admin dashboard")
    i.alternate.settings.icon

block main_content
  #home
    h1 Welcome!

    section.well
      :markdown
        If this is text is inside a box with rounded corners then your new Waigo app is running correctly!

        Replace this page by creating a template: `views/index.jade`.

    a.btn.btn-primary(href="/admin")
      i.icon.settings
      span View admin dashboard

    a.btn.btn-primary(href="http://waigojs.com")
      i.icon.help
      span Read documentation

