extends _layout

block title
  title Welcome to Waigo!

block topbar_rightmenu
  a.popup.icon.settings.item(href="/admin", title="Admin dashboard")
    i.alternate.settings.icon

block main_content
  h1.ui.header Welcome!

  section.ui.segment
    :markdown
      If this is text is inside a box with rounded corners then your new Waigo app is running correctly!

      Replace this page by creating a template: `views/index.jade`.

  a.ui.primary.button(href="admin")
    i.icon.settings
    span View admin dashboard

  a.ui.tiny.button(href="http://waigojs.com")
    i.icon.help
    span Read documentation

