extends ../_layout
include ../_mixins


block title
  title Admin dashboard


block main_content_container
  main#admin_container
    .row
      #admin_menu.col.s2
        .collection
          - each item in menu
            - var className = 'collection-item ' + (matchesCurrentUrl(item.path) ? 'active': '');
            a(class=className, href=item.path) #{item.label}
      #admin_content.col.s10
        block main_content



