extends ../_layout

include ../_mixins
include _mixins


block title
  title Admin dashboard

block topbar_leftmenu
  a.admin.menu.item
    i.content.icon
  
block pre_header
    nav.ui.vertical.inverted.sidebar.menu.left#admin_popout_menu
      +adminMenu()

block topbar_title
  b Admin dashboard


block main_content
  .ui.grid
    .three.wide.column#admin_menu
      nav.ui.inverted.segment
        +adminMenu(true)
    .thirteen.wide.column#admin_content
      block admin_content

block scripts
  script(type="text/javascript", src="/js/admin.js")
  script(type="text/javascript").
    $('header a.admin.menu').click(function() {
      $('nav.menu.sidebar').sidebar('toggle');
    });
