mixin adminMenu(addListClasses)
  div(class=(addListClasses ? "ui inverted relaxed divided list" : ""))
    a.item(href="/admin") Dashboard
    a.item(href="/admin/routes") Routes
    a.item(href="/admin/users") Users
