extends _layout

block main_content
  #react-root
    .loading Loading...

block scripts
  script(type="text/javascript", src=staticUrl('waigo:/js/ace.js'))
  script(type="text/javascript", src=staticUrl("/js/admin/routes.js"))
