extends ../_layout

block title
  title Login

block main_content
  #login
    h1 Login

    if reason
      +msg('error', reason)

    +form(form, error)

    ul
      li
        a.forgot(href="/user/forgot_password") I've forgotten my password
      li
        a.signup(href="/user/register") Not yet registered? Sign up.