extends ../_layout

include ../_mixins

block title
  title Register

block main_content
  h1.ui.header Register user

  if willCreateAdminUser
    +msg('info', 'Since you will be the first registered you will be given administrator rights to this site.')

  +form(form, error)