extends ../_layout

include ../_mixins

block title
  title Register

block main_content
  h1 Register user

  if willCreateAdminUser
    +msg('info', 'Since you will be the first registered user on this site you will be given administrator rights!')

  +form(form, error)
