.loader
  margin 1em 0
  
  &.inline
    display inline-block
    margin 0 0.5em


.code-editor
  border 1px solid #ccc
  font-family monospace
  font-weight normal
  .ReactCodeMirror, .CodeMirror
    height 100%


.model-table
  .model-filters
    .filter
      display inline-block
      vertical-align top
      padding 0.5em
    .action
      text-align center
      padding 0.5em
  .body
    clear both
    tr
      cursor pointer

  