@import 'settings'

#admin_menu
  +below($tabletWidth)
    display none
#admin_content
  +below($tabletWidth)
    width 100% !important
header
  a.admin.menu.item
    display none
    cursor pointer
    +below($tabletWidth)
      display inline-block



#admin_content
  // /routes
  .page-routes
    input.list-filter
      width 100%
      
    span.method
      display inline-block
      width 5%
      margin-right 1em
      
    span.url
      display inline-block
    
  