// #admin_menu
//   +below($screen-md)
//     display none
// #admin_content
//   +below($screen-md)
//     width 100% !important

// header
//   a.admin.menu.item
//     display none
//     cursor pointer
//     +below($screen-md)
//       display inline-block


main#admin_container
  padding-top 1em
  
  #admin_content
    
    // /routes
    .page-routes

      .collection-item
        padding 0
        
        a
          display block
          padding 0.9em

          span.method
            display inline-block
            min-width 5%
            margin-right 1em
            
          span.url
            display inline-block
            
    .page-route
      h2
        margin-top 0
        margin-bottom 0.1em
        font-size 230%
      input[type=submit]
        margin-top 1em
      .result
        margin-top 1em
        .meta
          .label
            font-size 120%
            margin-right 0.5em
          
        
