i + span
  margin-left 0.5em

.msg
  h3.panel-title
    font-size 120%
    

a.btn + a.btn
  margin-left 1em
    
header
  .title.item
    font-size 2em

main.container
  padding 1em
  margin-top 50px
