.json-editor
  border 1px solid #ccc
  font-family monospace
  font-weight normal


.model-table
  .model-filters
    .filter
      display inline-block
      vertical-align top
      padding 0.5em
    .action
      text-align center
      padding 0.5em
  .body
    clear both
    tr
      cursor pointer

  