/* ---------------------------------------
Settings and variables
--------------------------------------- */

// match materialize
$screen-md = 992px
$screen-sm = 600px


/* ---------------------------------------
Font Awesome
--------------------------------------- */

$fa-font-path =        "../fonts"
@import "../../../node_modules/font-awesome-stylus/stylus/index"



