/* ---------------------------------------
Settings and variables
--------------------------------------- */

$fa-font-path =        "../fonts"



/* ---------------------------------------
Font Awesome
--------------------------------------- */

@import "../../../node_modules/font-awesome-stylus/stylus/index"



/* ---------------------------------------
Bootstrap
--------------------------------------- */

// Bootstrap
$bootstrapPath = "../../../node_modules/bootstrap-styl/bootstrap/"

// Core variables and mixins
@import $bootstrapPath + "variables"
@import $bootstrapPath + "mixins"

// Reset and dependencies
@import $bootstrapPath + "normalize"
@import $bootstrapPath + "print"
// @import "glyphicons"

// Core CSS
@import $bootstrapPath + "scaffolding"
@import $bootstrapPath + "utilities"
@import $bootstrapPath + "type"
@import $bootstrapPath + "code"
@import $bootstrapPath + "grid"
@import $bootstrapPath + "tables"
@import $bootstrapPath + "forms"
@import $bootstrapPath + "buttons"

// Components
@import $bootstrapPath + "component-animations"
@import $bootstrapPath + "dropdowns"
@import $bootstrapPath + "button-groups"
@import $bootstrapPath + "input-groups"
@import $bootstrapPath + "navs"
@import $bootstrapPath + "navbar"
// @import "breadcrumbs"
// @import "pagination"
// @import "pager"
@import $bootstrapPath + "labels"
// @import "badges"
// @import "jumbotron"
// @import "thumbnails"
@import $bootstrapPath + "alerts"
// @import "progress-bars"
// @import "media"
@import $bootstrapPath + "list-group"
@import $bootstrapPath + "panels"
@import $bootstrapPath + "responsive-embed"
@import $bootstrapPath + "wells"
@import $bootstrapPath + "close"

// Components w/ JavaScript
// @import "modals"
// @import "tooltip"
// @import "popovers"
// @import "carousel"

// Utility classes
@import $bootstrapPath + "responsive-utilities"
