@import 'rupture'
@import 'settings'


i + span
  margin-left 0.5em

header
  .title.item
    font-size 2em

main.container
  max-width 100%
  padding 1em
  margin-top 50px


/* admin */

@import './_admin'

/* login */

#login
  .signup
    display block
    margin-top 3em