@import 'rupture'

.container
  width 850px
  margin 0 auto
  +below(998px)
    width auto

i + span
  margin-left 0.5em

header .title.item
  font-size 2em

main.container
  padding 1em
  margin-top 50px
  
