extends ../_layout

block admin_content
  .ui.divided.list
    - each route in routes
      .item
        .content
          .header 
            span.method #{route.method}
            span.url #{route.url}

